.banniere-section {
    background-color: #999e48;
    color: #ffffff;
    padding: 3rem 0;
    min-height: 80vh;
    display: flex;
    align-items: center;
}

.banniere-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
    width: 100%;
}

.banniere-content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.top-section {
    display: flex;
    align-items: center;
    gap: 3rem;
    justify-content: space-between;
}

.text-section {
    flex: 1.2;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banniere-title {
    font-size: 3rem;
    font-family: "Gill Sans", sans-serif;
    font-weight: bold;
    margin-bottom: 1.5rem;
    line-height: 1.2;
}

.banniere-subtitle {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    line-height: 1.4;
    font-weight: bold;
}

.banniere-description {
    font-size: 1.1rem;
    margin-bottom: 0;
    opacity: 0.9;
}

.find-tool-btn {
    background: #b05750;
    color: white;
    border: none;
    padding: 0.75rem 2rem;
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s ease;
    width: fit-content;
    white-space: nowrap;
    margin-top: 20px;

}

.find-tool-btn:hover {
    background: #cc6a62;
}

.image-section {
    flex: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 400px;
}

.banniere-tools-image {
    width: 100%;
    max-height: 300px;
    object-fit: contain;
    border-radius: 12px;
}

/* Section recherche en dessous */
.search-section {
    background: #ffffff;
    padding: 2rem;
    border-radius: 12px;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.search-form {
    width: 100%;
}

.input-group {
    display: flex;
    gap: 1.5rem;
    align-items: flex-end;
}

.form-field {
    flex: 1;
    text-align: left;
}

.field-label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 500;
    font-size: 1rem;
    color: #000000;
}

.search-input {
    width: 100%;
    padding: 0.75rem 1rem;
    border: 2px solid rgba(158, 158, 158, 0.3);
    border-radius: 8px;
    background: rgb(244, 247, 244);
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

.search-input::placeholder {
    color: rgba(136, 136, 136, 0.7);
}

.search-input:focus {
    outline: none;
    border-color: #ffffff;
}

.search-button {
    background: #446145;
    color: white;
    border: none;
    padding: 0.75rem 2rem;
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s ease;
    height: fit-content;
    white-space: nowrap;
}

.search-button:hover {
    background: #619362;
}